<h2 mat-dialog-title style="margin:0">{{ title }}</h2>
<form [formGroup]="form" (ngSubmit)="save()">
    <mat-dialog-content>
        @if(data?.isDelete) {
        <p>Are you sure you want to delete <strong>{{ data.item?.name }}</strong> from the Inventory?</p>
        }
        @else {
        <mat-form-field style="width: 100%" class="full-width">
            <mat-label>Item Name</mat-label>
            <input matInput formControlName="name" required [matAutocomplete]="auto" />
            <mat-autocomplete #auto="matAutocomplete">
                @for (option of filteredOptions | async; track option) {
                <mat-option [value]="option.name">{{option.name}}</mat-option>
                }
            </mat-autocomplete>
            <mat-error *ngIf="form.get('name')?.touched && form.get('name')?.hasError('required')">
                Name is required
            </mat-error>
            <mat-error *ngIf="form.get('name')?.touched && form.get('name')?.hasError('nameExists')">
                This item is already present in inventory
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" formControlName="quantity" required />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Buying Price</mat-label>
            <input matInput type="number" formControlName="buying_price" required />
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Selling Price</mat-label>
            <input matInput type="number" formControlName="selling_price" required />
        </mat-form-field>
        }
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button type="button" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            {{ data?.isDelete ? 'Delete' : (data?.item ? 'Add Stock' : 'Add') }}
        </button>
    </mat-dialog-actions>
</form>