.inventory-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}

mat-card {
    width: 500px;
    padding: 2rem;
}


table {
    width: 100%;
}

.mat-column-actions {
    white-space: nowrap;

    button.mdc-button {
        margin-right: 8px !important;
    }
}