<div class="dashboard-container">
    <mat-card>
        <h2>Table Dashboard</h2>
        @if(error) {
        <div *ngIf="error" class="error">{{ error }}</div>
        }
        <div class="table-grid">
            <div *ngFor="let table of tables()" class="table-card" [ngClass]="table.status"
                (click)="selectTable(table)">
                Table {{ table.table_number }}
                <span class="status">{{ table.status }}</span>
            </div>
        </div>
    </mat-card>
    @if(selectedTable){
    <div class="content-wrapper">
        <mat-card class="form-card">
            <h3>Order for Table {{ selectedTable.table_number }}</h3>
            <form [formGroup]="orderForm" (ngSubmit)="placeOrder()">
                <mat-form-field class="full-width">
                    <mat-label>Item</mat-label>
                    <mat-select formControlName="item_id" required>
                        @for(item of filteredItems(); track item.id) {
                        <!-- <mat-option *ngFor="let item of filteredItems()" [value]="item.id"> -->
                        <mat-option [value]="item.id">
                            {{ item.name }} - {{ item.selling_price | number:'1.2-2' }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Quantity</mat-label>
                    <input matInput type="number" formControlName="quantity" required />
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Add/Update Order</button>
            </form>
        </mat-card>

        <mat-card class="orders-card">
            <h3>Order History</h3>
            @if(tableOrders().length > 0) {
            <table mat-table [dataSource]="tableOrders()" class="orders-table">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Item Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="rate">
                    <th mat-header-cell *matHeaderCellDef>Rate</th>
                    <td mat-cell *matCellDef="let element">{{ element.price | number:'1.2-2' }}</td>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Qty</th>
                    <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>Amount</th>
                    <td mat-cell *matCellDef="let element">{{ (element.price*element.quantity) | number:'1.2-2' }}</td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element" [ngClass]="'status-' + element.status">
                        <!-- {{ element.status }} -->
                        <mat-form-field appearance="fill">
                            <mat-select [value]="element.status"
                                (selectionChange)="onStatusChange(element, $event.value)">
                                <mat-option *ngFor="let status of statusOptions" [value]="status">
                                    {{status}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            } @else {
            <p class="no-orders">No pending or served orders</p>
            }
        </mat-card>
    </div>
    }
</div>